
.nav.child_menu {
    display: block !important;
    overflow-y: hidden;
}

.slide-enter {
    display: block;
    overflow-y: hidden;
    max-height: 0;
}

.slide-enter.slide-enter-active {
    max-height: 500px;
    transition: 700ms;
}

.slide-exit {
    max-height: 500px;
}

.slide-exit.slide-exit-active {
    max-height: 0;
    transition: 500ms;
}

.slide-exit-active-done {
    display: none;
}
